/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=DotGothic16&family=IBM+Plex+Mono&family=Inconsolata&family=Mochiy+Pop+One&family=Oswald&family=Patrick+Hand&family=Sigmar&display=swap');
/* font-family: 'Inconsolata', monospace;

font-family: 'Mochiy Pop One', sans-serif;

font-family: 'Oswald', sans-serif;

font-family: 'Patrick Hand', cursive;

font-family: 'Sigmar', cursive;

font-family: 'Darumadrop One', cursive;

font-family: 'DotGothic16', sans-serif; */

/* :root {
}
 */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {

  min-height: 100vh;
  /* color: var(--color-text); */
  /* background: var(--color-background); */
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'IBM Plex Mono', monospace,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}