@import './base.css';

#app {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 100%, 0.275);
  }
}

@media (min-width: 1024px) {
  body {}

  #app {}
}